<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title text-align="center">More Tech News</title>
  <br>
  {{!-- below is what displays - images go in <head> section --}}
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
          {{!-- img source starts in /public already.  Address lookup will start at /public/ --}}
          {{!-- use static URL by starting with "/" --}}
        <img src="/images/gear-image-1261419.png" alt="" style="border: 1px insert" height="30" width="30">
        <a href="/">More Tech News</a>
      </h1>
    <nav>
      {{!-- user.username at least needs to be in quotes so it's understood as a string value/literal --}}
      {{#if loggedIn}}
      <a href="/dashboard"> {{"user.username"}} Profile </a>
      <button id="logout" class="btn-no-style">logout</button>
      {{else}}
      <a href="/login">login or sign up</a>
      {{/if}}
    </nav>
      
    </header>


    <main>

      {{{ body }}}

    </main>


    <footer>
      Thanks for visiting!
    </footer>
    
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{else}}
  <script src="/javascript/login.js"></script>
  {{/if}}
</body>

</html>