<section>
  <h1> Recent Posts </h1>
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{!-- use > within the {{}} to use a partial --}}
    {{> post-info post }}
  </li>
  {{/each}}
</ol>
</section>

{{#if loggedIn}}
<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
  <br>
</section>
{{else}}
<br>
<h3> Please log in or sign up to submit a post. </h3>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/add-post.js"></script>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
{{/if}}